* {
  padding: 0;
  margin: 0;
}

.main {
  background-image: url("assets/backimg.jpg");
  background-size: cover;
  height: 80vh;
  width: 100%;
  position: relative;
  background-size: max(300px 10vw);
  text-align: center;
  /* box-shadow: 5px 5px 7px 8px brown; */
  box-shadow: 10px -10px 18px 9px brown;
  box-sizing: border-box;
  border-bottom-left-radius: 10% 10%;


}

.main .box {
  height: 80vh;
  width: 100%;
  opacity: 0.6;
  background-color: black;
  position: absolute;
  top: 0px;
  text-align: center;
}

.logo {
  width: 120px;
  height: 50px;
  color: red;
  position: relative;
  z-index: 10;
}

.b1 {
  background-color: transparent;
  color: white;
  font-weight: 800;
  border-color: rgb(135, 182, 182);
  position: relative;
  z-index: 10;
  box-shadow: 0px 0px 1px 1px white;




}

body {
  background-color: black;
}
